* {
  margin: 0;
  padding: 0;
}
.card {
  width: 300px;
  padding: 20px;
  border-radius: 8px;
  border: 2px solid black;
  color: seagreen;
  text-align: center;
}

.image {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 2px solid black;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}

.card-container {
  display: flex;
  gap: 20px; /* space between cards */
  justify-content: center; /* center horizontally */
  flex-wrap: wrap; /* move to next line on small screens */
  padding: 20px;
}
